@import "../../styles/responsive.scss";

.topBox {
  h1 {
    margin-bottom: 20px;

    @include xxl{
      font-size: 24px;
    }
  }

  .list {
    .listItem {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 30px;
      
        @include sm {
          display: flex;
          // flex-direction: column;
          
        }
     

      .user {
        display: flex;
        gap: 20px;
        // @include sm { 
        //   align-self: flex-start;
        // }

        img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
          @include sm { 
            display: none;
          }

        //   @include xxl{
        //     display: none;
        //   }
        //   @include lg{
        //     display: block;
        //   }
        }

        .userTexts {
          display: flex;
          flex-direction: column;
          gap: 5px;

          .username {
            font-size: 14px;
            font-weight: 500;
          }
          .email {
            font-size: 12px;

            // @include xxl{
            //   display: none;
            // }
            // @include lg{
            //   display: block;
            // }
          }
        }
      }

      .amount {
        font-weight: 500;
        @include sm { 
          margin-right: 1rem;
          font-weight: 400;
        }
      }
    }
  }
}

